<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <% 
      let subheadingText = "Our projects will be added to this area very soon..";
      if (projects.length > 0) {
        subheadingText = "Our Projects";
      } 
      %>
      <h3 class="section-subheading text-muted"><%= subheadingText %></h3>
    </div>
    <div class="row">
      <% projects.forEach(project => {%>
      <%- include('../components/project',{project}) %>
      <%}); %>
    </div>
  </div>
</section>